<app-header></app-header>

  <!-- left, middle, and right sections -->
  <div class="main-container" style="display: flex;">

    <!-- Left Section -->
    <div class="left" style="flex: 1; padding: 10px;">
      <h2>Left Section</h2>

      <app-list-left></app-list-left>

    </div>

    <!-- Middle Section (Main Content) -->
    <div class="middle" style="flex: 2; padding: 10px;">
      <h2>Main Content</h2>
      <router-outlet></router-outlet>
    </div>

    <!-- Right Section -->
    <div class="right" style="flex: 1; padding: 10px;">
      <h2>Right Section</h2>
      <app-list-right></app-list-right>
    </div>

  </div>

  <!-- Footer Section -->
  <app-footer></app-footer>

