<!DOCTYPE html>
<html lang="en">

<body>

  <footer class="py-5">
    <div class="container">
      <div class="row">

        <div class="col-md-6 mb-4">
          <div class="card footer-card text-white bg-primary">
            <div class="card-header">
              <h5 class="footer-title">Contact Us</h5>
            </div>
            <div class="card-body">
              <h6 class="footer-text">Instructor's Name</h6>
              <p class="footer-text">School: Example School</p>
              <p class="footer-text">Email: info&#64;example.com</p>
              <p class="footer-text">List of Courses Taught:</p>
              <ul class="list-unstyled">
                <li class="footer-text">Course 1</li>
                <li class="footer-text">Course 2</li>
                <li class="footer-text">Course 3</li>
              </ul>
              <a routerLink=" " class="btn btn-light">Email Us</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="card footer-card text-white bg-info">
            <div class="card-header">
              <h5 class="footer-title">Consultation</h5>
            </div>
            <div class="card-body">
              <h6 class="footer-text">Consultation Schedule</h6>
              <p class="footer-text">M / W / F</p>
              <a routerLink=" " class="btn btn-light">Set Appointment</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>

</body>
</html>
